# User-specific configuration files
.env

# C++ build files
*.o
dist/
*build*/


# Debug and development files
docs/
*.log
perf.data
perf.data.old

# OHLC files
*.csv
!marketData/synthetic_strategy_test.csv
*.parquet

# macOS specific files
*.DS_Store

*.onnx