# User-specific configuration files
*backtest_config.ini
.env

# C++ build files
*.o
dist/
*build/
# libchartdir.so

# VS Code files
.vscode/c_cpp_properties.json

# Debug and development files
docs/
*.pyc
*.log
perf.data

# OHLC files
live_interface/candles_history.json
marketData/*

# macOS specific files
*.DS_Store

