venv
.env
__pycache__/
*.pyc
.bash_history
.cache/conda/notices/notices.cache
.cache/pip/*
.conda/*
.ipynb_checkpoints/*
.local*
.ipython*
.jupyter*
*.egg-info/
docs/build/** 
*backtest_config.ini
backtest_interface/PyQt/build/*
backtest_interface/PyQt/dist/*
backtest_interface/PyQt/*.spec
*.log
*.DS_Store
*.bak
backtest_interface/PyQt/backtest_config.ini.bak
*.ini.bakbot_v3/docker/postgres-data/
.vscode/
*.o
# C++ extension files
*.so
*.pyd
*.dll
# Build directories
build/
dist/
*.egg-info/
backtest_app_cpp/build-cmake/*
